[submodule "build/PSModulePublisher"]
	path = build/PSModulePublisher
	url = https://github.com/theohbrothers/PSModulePublisher.git
	branch = dev-publish-powershell5-vm-nuget-binary-dependency
[submodule "build/PSRepositoryReleaseManager"]
	path = build/PSRepositoryReleaseManager
	url = https://github.com/theohbrothers/PSRepositoryReleaseManager.git
	branch = dev
