[submodule "build/PSModulePublisher"]
	path = build/PSModulePublisher
	url = https://github.com/theohbrothers/PSModulePublisher.git
	branch = dev
[submodule "build/PSGitHubRestApi"]
	path = build/PSGitHubRestApi
	url = https://github.com/theohbrothers/PSGitHubRestApi.git
	branch = dev
[submodule "build/PSGitHubRepositoryReleaser"]
	path = build/PSGitHubRepositoryReleaser
	url = https://github.com/theohbrothers/PSGitHubRepositoryReleaser.git
